<!-- markets -->
<section  id="part1">
    <div class="container" style="text-align:center;">
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 1</div><br/>
        <div class="chapterSubtitle">자산관리 자동화 기초</div>
        <p class="chapters">
          <strong>01</strong> 제로금리 시대, 자산관리의 중요성<br/>
          <strong>02</strong> 코딩 없는 자동화 도구, 구글 스프레드시트<br/>
          <strong>03</strong> 코딩 없는 종목 정보 크롤링<br/>
          <strong>04</strong> 부동산 수익률과 적금이자 계산하기<br/>
          <strong>05</strong> 주식, ETF 수익률 계산하기<br/>
        </p>
      </div>

      
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 2</div><br/>
        <div class="chapterSubtitle">자산배분을 위한 자동화</div>
        <p class="chapters">
          <strong>01</strong> 자산배분<br/>
          <strong>02</strong> 자산배분 포트폴리오 예씨<br/>
          <strong>03</strong> 자산배분 포트폴리오 만들기<br/>
        </p>
      </div>

      
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 3</div><br/>
        <div class="chapterSubtitle">리밸런싱</div>
        <p class="chapters">
          <strong>01</strong> 포트폴리오의 비율을 재조정하는 리밸런싱<br/>
          <strong>02</strong> 리밸런싱 자동 관리하기<br/>
        </p>
      </div>

      <div class="chapter">
        <div class="chapterTitle">CHAPTER 4</div><br/>
        <div class="chapterSubtitle">암호화폐 잔고 연동하기</div>
        <p class="chapters">
          <strong>01</strong> 코인원 API란?<br/>
          <strong>02</strong> 코인원 API 키 발급<br/>
        </p>
      </div>

    </div>
  </section>
